# App
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=water_leaks_db

# Mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=tu_correo@gmail.com
MAIL_PASSWORD=tu_password_o_app_password
MAIL_FROM="Municipio - Fugas de Agua" <no-reply@municipio.gob>

# Correo de la cuadrilla de mantenimiento que recibe los avisos
MAINTENANCE_CREW_EMAIL=cuadrilla@municipio.gob

# Bcrypt
BCRYPT_SALT_ROUNDS=10
